<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">ログイン画面</div>

        <p>ユーザー登録が完了しました。</p>

        <p><%= link_to 'ログイン画面へ進む', new_session_path %></p>

      </div>
    </div>
  </div>
</header>
